ADMIN_PRIVATE_KEY=
COST_ANALYZER_ENABLED=true
PACKAGE_PATH=../move
PUBFILE_PATH=../deployments/localnet/Pub.localnet.toml
AGGREGATOR=https://aggregator.walrus-testnet.walrus.space
PUBLISHER=https://publisher.walrus-testnet.walrus.space